<h2 class="pagetitle pt{{nav}} png">{{get configs nav "BREAD"}}</h2>
<h5 class="pgposition">
  <a href="{{ pkg.url }}/">首页</a>
  &gt;
  <a href="{{ pkg.url }}{{get configs nav "bread"}}">{{get configs nav "BREAD"}}</a>
</h5>
