<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie6"><![endif]-->
<!--[if IE 7 ]><html class="ie7"><![endif]-->
<!--[if IE 8 ]><html class="ie8"><![endif]-->
<!--[if IE 9 ]><html class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html><!--<![endif]-->
{{#prettify}}
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  <title>{{#if title}}{{ title }}{{else}}{{ pkg.NAME }}{{/if}}-广州GPS,合肥GPS,广东GPS,佛山GPS,顺德GPS</title>
  <meta name="viewport" content="width=1024" />
  <meta name="description" content="{{#if description}}{{ description }}{{else}}{{ pkg.description }}{{/if}}" />
  <meta name="keywords" content="{{#if keywords}}{{ keywords }}{{else}}{{join pkg.keywords ', '}}{{/if}}" />
  <link rel="stylesheet" type="text/css" href="{{obj_val compiled_assets '/assets/css/application.css'}}">
  <script src="{{obj_val compiled_assets '/assets/js/application.js'}}"></script>
  {{#unless production}}<script src="http://localhost:35729/livereload.js"></script>{{/unless}}
</head>
<body>
  <div id="wrapper">
    <div id="header" class="fixed_width pos_center">
      <div id="logo"><a class="png" href="{{ pkg.url }}/" title="佛山市顺德区捷通数码科技有限公司">佛山市顺德区捷通数码科技有限公司</a></div>
      <ul id="menu">
        <li class="menu_start"></li>
        <li class="menu_item">
          <a href="{{ pkg.url }}/">首页</a>
        </li>
        <li class="menu_sep"></li>
        <li class="menu_item">
          <a href="{{ pkg.url }}/news/" data-id="1" title="GPS新闻中心">GPS新闻中心</a>
        </li>
        <li class="menu_sep"></li>
        <li class="menu_item">
          <a{{#is nav 'product'}} class="menu_item_current"{{/is}} href="{{ pkg.url }}/product/" data-id="4" title="GPS产品展示">GPS产品展示</a>
        </li>
        <li class="menu_sep"></li>
        <li class="menu_item">
          <a{{#is nav 'solution'}} class="menu_item_current"{{/is}} href="{{ pkg.url }}/solution/" title="GPS解决方案">GPS解决方案</a>
        </li>
        <li class="menu_sep"></li>
        <li class="menu_item">
          <a{{#is nav 'download'}} class="menu_item_current"{{/is}} href="{{ pkg.url }}/download/" data-id="9" title="GPS软件下载">GPS软件下载</a>
        </li>
        <li class="menu_sep"></li>
        <li class="menu_item">
          <a{{#is nav 'contact'}} class="menu_item_current"{{/is}} href="{{ pkg.url }}/contact/" data-id="12">联系我们</a>
        </li>
        <li class="menu_end"></li>
      </ul>
      <ul id="menu_sub_1" class="submenu hidden">
        <li class="menu_sub_start"></li>
        <li class="menu_sub_item"><a href="{{ pkg.url }}/news/industry/" title="GPS行业新闻">GPS行业新闻</a></li>
        <li class="menu_sub_sep"></li>
        <li class="menu_sub_item"><a href="{{ pkg.url }}/news/enterprise/" title="GPS企业新闻">GPS企业新闻</a></li>
        <li class="menu_sub_end"></li>
      </ul>
      <ul id="menu_sub_4" class="submenu hidden">
        <li class="menu_sub_start"></li>
        <li class="menu_sub_item"><a href="{{ pkg.url }}/gps/video/" title="视频监控产品">视频监控产品</a></li>
        <li class="menu_sub_sep"></li>
        <li class="menu_sub_item"><a href="{{ pkg.url }}/gps/extend/" title="GPS监控产品">GPS监控产品</a></li>
        <li class="menu_sub_end"></li>
      </ul>
      <ul id="menu_sub_9" class="submenu hidden">
        <li class="menu_sub_start"></li>
        <li class="menu_sub_item"><a href="{{ pkg.url }}/download/client/" title="GPS网络版">GPS网络版</a></li>
        <li class="menu_sub_sep"></li>
        <li class="menu_sub_item"><a href="{{ pkg.url }}/download/pro/" title="GPS专业版">GPS专业版</a></li>
        <li class="menu_sub_end"></li>
      </ul>
      <ul id="menu_sub_12" class="submenu hidden">
        <li class="menu_sub_start"></li>
        <li class="menu_sub_item"><a href="{{ pkg.url }}/about/">关于我们</a></li>
        <li class="menu_sub_sep"></li>
        <li class="menu_sub_item"><a href="{{ pkg.url }}/job/">职位招聘</a></li>
        <li class="menu_sub_end"></li>
      </ul>
    </div>
    <script>
      function pos_sub_menu(a) {
        var b = $("#menu_sub_" + $(a).attr("data-id")),
            c = $("#header").width();
        a = $(a).position().left + 250;
        a + b.width() > c && (a = c - 41 - b.width());
        a < $("#menu").position().left + 10 && (a = $("#menu").position().left + 10);
        b.removeClass("hidden").css({
            left: parseInt(a)
        })
      }
      $("#menu .menu_item a").hover(function () {
        $(this).attr("data-id") ? pos_sub_menu(this) : $("[id^=menu_sub_]").addClass("hidden")
      }, function () {
        $("#menu_sub_" + $(this).attr("data-id")).addClass("hidden")
      });
      $(".submenu").hover(function () {
        var a = $("#menu .menu_item a[data-id=" + $(this).attr("id").replace(/^menu_sub_/, "") + "]");
        a.hasClass("menu_item_current") ? a.addClass("alrcurrent") : a.addClass("menu_item_current");
        $(this).removeClass("hidden")
      }, function () {
        var a = $("#menu .menu_item a[data-id=" + $(this).attr("id").replace(/^menu_sub_/, "") + "]");
        a.hasClass("alrcurrent") || a.removeClass("menu_item_current");
        $(this).addClass("hidden")
      });
    </script>
    {{>body}}
    <div id="footer" class="fixed_width pos_center">
      <div id="footer_logo"><a class="png" href="{{ pkg.url }}/" title="佛山市顺德区捷通数码科技有限公司">佛山市顺德区捷通数码科技有限公司</a></div>
      <div id="footer_text">
        版权所有 &copy; 2006-2012 佛山市顺德区捷通数码科技有限公司 | <a href="http://www.miibeian.gov.cn/">粤ICP备11032956号-2</a><br />
        地址：佛山市顺德区大良105国道飞马路口翔业楼2楼 (<a href="{{ pkg.url }}/contact/">查看地图</a>) | 全国服务热线：400-833-6110 <br />
        销售：+86-0757-22228768 | 客服：+86-0757-22229110 | 技术：+86-0757-22236110</br>
        网站建设维护与优化:<a href="http://www.8html.com/">8HTML</a> | <a href="{{ pkg.url }}/" >广东GPS</a>|<a href="{{ pkg.url }}/" >广州GPS</a>|<a href="{{ pkg.url }}/" >佛山GPS</a>|<a href="{{ pkg.url }}/" >顺德GPS</a>|<a href="{{ pkg.url }}/" >合肥GPS</a>|<a href="{{ pkg.url }}/Sitemap.xml" target="_blank">Sitemap</a>
      </div>
      <div id="footer_lang">
        English Version
      </div>
    </div>
    {{#if production}}
    <div class="zxkf">
      <div class="zxkfbtn"></div>
      <div class="zxkfpanel">
        <div class="zxkfpanel_h"></div>
        <div class="zxkfpanel_c">
          <div class="zxkfpanel_c_1">
            客户咨询时间<br />08:30—17:30
          </div>
          <div class="zxkfpanel_c_2">
            技术一：<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=448644548&site=qq&menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:448644548:41" alt="点击这里给我发消息" title="点击这里给我发消息"></a><br />
            技术二：<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=342547915&site=qq&menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:342547915:41 &r=0.06579961165141396" alt="点击这里给我发消息" title="点击这里给我发消息"></a><br />
            技术三：<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=1535659850&site=qq&menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:1535659850:41" alt="点击这里给我发消息" title="点击这里给我发消息"></a><br />
            销售一：<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=448644548&site=qq&menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:448644548:41" alt="点击这里给我发消息" title="点击这里给我发消息"></a><br />
            客服一：<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=1072527985&site=qq&menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:1072527985:41" alt="点击这里给我发消息" title="点击这里给我发消息"></a><br />
            客服二：<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=1719548932&site=qq&menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:1719548932:41" alt="点击这里给我发消息" title="点击这里给我发消息"></a>
          </div>
        </div>
        <div class="zxkfpanel_f"></div>
      </div>
    </div>
    <div class="dianhua" style="top:500px">
      <div class="dianhua1"></div>
      <div class="dianhual">
        <div class="dianhual_h"></div>
        <div class="dianhual_c1">
          <div class="dianhual_c_2">
          </div>
        </div>
        <div class="dianhual_f"></div>
      </div>
    </div>
    <!-- Baidu Button BEGIN -->
    <script type="text/javascript" id="bdshare_js" data="type=slide&amp;img=1&amp;pos=right&amp;uid=373180" ></script>
    <script type="text/javascript" id="bdshell_js"></script>
    <script type="text/javascript">
    var bds_config={"bdTop":1};
    document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000);
    </script>
    <!-- Baidu Button END -->
    <script type="text/javascript">
    var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
    document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F117a0fdd12db1d47f8e3164769fa1bcd' type='text/javascript'%3E%3C/script%3E"));
    </script>
    {{/if}}
  </div>
</body>
{{/prettify}}
</html>
