<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie6"><![endif]-->
<!--[if IE 7 ]><html class="ie7"><![endif]-->
<!--[if IE 8 ]><html class="ie8"><![endif]-->
<!--[if IE 9 ]><html class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html><!--<![endif]-->
{{#prettify}}
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  <title>{{#if title}}{{ title }}-{{ pkg.NAME }}{{else}}{{ pkg.NAME }}-{{ pkg.keywords }}{{/if}}</title>
  <meta name="viewport" content="width=1024" />
  <meta name="description" content="{{#if description}}{{ description }}{{else}}{{ pkg.description }}{{/if}}" />
  <meta name="keywords" content="{{#if keywords}}{{ keywords }}{{else}}{{join pkg.keywords ','}}{{/if}}" />
  <link rel="stylesheet" type="text/css" href="{{obj_val compiled_assets '/assets/css/application.css'}}">
  <script src="{{obj_val compiled_assets '/assets/js/application.js'}}"></script>
  {{#unless production}}<script src="http://localhost:35729/livereload.js"></script>{{/unless}}
</head>
<body>
  <div id="wrapper">
    <div id="header" class="fixed_width pos_center">
      <div id="logo"><a class="png" href="{{ pkg.url }}/" title="武汉天健军卫网络技术开发有限公司">武汉天健军卫网络技术开发有限公司</a></div>
      <ul id="menu">
        <li class="menu_start"></li>
        <li class="menu_item">
          <a{{#is permalink '/'}} class="menu_item_current"{{/is}} href="{{ pkg.url }}/">首页</a>
        </li>
        <li class="menu_sep"></li>
        <li class="menu_item">
          <a{{#is nav 'news'}} class="menu_item_current"{{/is}} href="{{ pkg.url }}/news/" data-id="1" title="GPS新闻中心">GPS新闻中心</a>
        </li>
        <li class="menu_sep"></li>
        <li class="menu_item">
          <a{{#is nav 'gps'}} class="menu_item_current"{{/is}} href="{{ pkg.url }}/gps/" data-id="4" title="GPS产品展示">GPS产品展示</a>
        </li>
        <li class="menu_sep"></li>
        <li class="menu_item">
          <a{{#is nav 'solutions'}} class="menu_item_current"{{/is}} href="{{ pkg.url }}/solutions/" title="GPS解决方案">GPS解决方案</a>
        </li>
        <li class="menu_sep"></li>
        <li class="menu_item">
          <a{{#is nav 'download'}} class="menu_item_current"{{/is}} href="{{ pkg.url }}/download/" data-id="9" title="GPS软件下载">GPS软件下载</a>
        </li>
        <li class="menu_sep"></li>
        <li class="menu_item">
          <a{{#inArray '["contact","about","job"]' nav}} class="menu_item_current"{{/inArray}} href="{{ pkg.url }}/contact/" data-id="12">联系我们</a>
        </li>
        <li class="menu_end"></li>
      </ul>
      <ul id="menu_sub_1" class="submenu hidden">
        <li class="menu_sub_start"></li>
        <li class="menu_sub_item"><a href="{{ pkg.url }}/news/industry/" title="GPS行业新闻">GPS行业新闻</a></li>
        <li class="menu_sub_sep"></li>
        <li class="menu_sub_item"><a href="{{ pkg.url }}/news/enterprise/" title="GPS企业新闻">GPS企业新闻</a></li>
        <li class="menu_sub_end"></li>
      </ul>
      <ul id="menu_sub_4" class="submenu hidden">
        <li class="menu_sub_start"></li>
        <li class="menu_sub_item"><a href="{{ pkg.url }}/gps/video/" title="视频监控产品">视频监控产品</a></li>
        <li class="menu_sub_sep"></li>
        <li class="menu_sub_item"><a href="{{ pkg.url }}/gps/extend/" title="GPS监控产品">GPS监控产品</a></li>
        <li class="menu_sub_end"></li>
      </ul>
      <ul id="menu_sub_9" class="submenu hidden">
        <li class="menu_sub_start"></li>
        <li class="menu_sub_item"><a href="{{ pkg.url }}/download/web/" title="GPS网络版">GPS网络版</a></li>
        <li class="menu_sub_sep"></li>
        <li class="menu_sub_item"><a href="{{ pkg.url }}/download/pro/" title="GPS专业版">GPS专业版</a></li>
        <li class="menu_sub_end"></li>
      </ul>
      <ul id="menu_sub_12" class="submenu hidden">
        <li class="menu_sub_start"></li>
        <li class="menu_sub_item"><a href="{{ pkg.url }}/about/">关于我们</a></li>
        <li class="menu_sub_sep"></li>
        <li class="menu_sub_item"><a href="{{ pkg.url }}/job/">职位招聘</a></li>
        <li class="menu_sub_end"></li>
      </ul>
    </div>
    {{>body}}
    <div id="footer" class="fixed_width pos_center">
      <div id="footer_logo"><a class="png" href="{{ pkg.url }}/" title="武汉天健军卫网络技术开发有限公司">武汉天健军卫网络技术开发有限公司</a></div>
      <div id="footer_text">
        &copy; 2006-2014 武汉天健军卫网络技术开发有限公司 | 地址：湖北省武汉市洪山区张家湾60号 (<a href="{{ pkg.url }}/contact/">查看地图</a>)<br />
        电话：+86-027-87507288 | 传真：+86-027-87507299
        网站建设维护与优化:<a href="http://www.8html.com/">8HTML</a> | <a href="{{ pkg.url }}/Sitemap.xml" target="_blank">Sitemap</a>
      </div>
    </div>
    {{#if production}}
    <div class="zxkf">
      <div class="zxkfbtn"></div>
      <div class="zxkfpanel">
        <div class="zxkfpanel_h"></div>
        <div class="zxkfpanel_c">
          <div class="zxkfpanel_c_1">
            客户咨询时间<br />08:30—17:30
          </div>
          <div class="zxkfpanel_c_2">
            客服一：<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=2865861616&site=qq&menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:2865861616:41" alt="点击这里给我发消息" title="点击这里给我发消息"></a><br />
            客服二：<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=2098018335&site=qq&menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:2098018335:41" alt="点击这里给我发消息" title="点击这里给我发消息"></a>
          </div>
        </div>
        <div class="zxkfpanel_f"></div>
      </div>
    </div>
    <script type="text/javascript">
    var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
    document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Ff4999dd524c1df5c928e6d656358cbb1' type='text/javascript'%3E%3C/script%3E"));
    </script>
    {{/if}}
  </div>
</body>
{{/prettify}}
</html>
