---
nav: download
permalink: "<%= configs[nav].types.map(function(i){ return '/'+nav+'/' + (i ? i + '/' : ''); }).join('\\n') %>"
type: "<%= permalink.replace(new RegExp('^\/'+nav+'\/|\/$', 'g'), '') %>"
counter: [ 0 ]
title: "<%= ( name = configs[nav].TYPES[configs[nav].types.indexOf(permalink.replace(new RegExp('^\/'+nav+'\/|\/$', 'g'), ''))] ) ? name + '-' : ''  %>软件下载"
keywords: 广州GPS
description: 广东佛山顺德广州合肥GPS专业生产厂家捷通数码提供网络版和专业版下载客户端，您可以在此下载你所需的客户端，方便您的使用。
---
<div class="main">
<div class="maincontainer png fixed_width pos_center">
  <div class="twocol">
  <div class="twocol_l">
{{>about}}
  </div>
  <div class="twocol_r">
    <div class="context png">
      {{>bread}}
      <table class="artlsttbl">
        <thead>
          <tr>
            <th class="alth1">序号</th>
            <th class="alth2">标题</th>
            <th class="alth3">发表时间</th>
            <th class="alth4">点击</th>
          </tr>
        </thead>
        <tbody>
          {{#eachProperty download}}
          {{#contains value.data.type ../type}}
          <tr>
            <td>{{selfIncrementCounter ../../counter 0}}</td>
            <td class="alttitle"><a href="{{value.filename}}">{{value.data.title}}</a></td>
            <td>{{#if value.data.date}}{{formatDate value.data.date "%Y-%m-%d"}}{{else}}-{{/if}}</td>
            <td>{{randomNumber 500 1000}}</td>
          </tr>
          {{/contains}}
          {{/eachProperty}}
        </tbody>
      </table>
    </div>
  </div>
  <div class="clear"></div>
  </div>
</div>
</div>
