---
title: 职位招聘
keywords: 顺德GPS
description: 广东佛山顺德广州合肥GPS专业生产厂家捷通数码诚聘以下优秀人才，欢迎您联系我们或投递简历，我们会尽快联系您，欢迎您的加入，成为我们的团队。
permalink: /job/
nav: job
counter: [ 0 ]
---
<div class="main">
<div class="maincontainer png fixed_width pos_center">
  <div class="twocol">
  <div class="twocol_l">
{{>about}}
  </div>
  <div class="twocol_r">
    <div class="context png">
      {{>bread}}
      <table class="artlsttbl">
        <thead>
          <tr>
            <th class="alth1">序号</th>
            <th class="alth2">标题</th>
            <th class="alth3">发表时间</th>
            <th class="alth4">点击</th>
          </tr>
        </thead>
        <tbody>
          {{#eachPropertyReverse job}}
          <tr>
            <td>{{selfIncrementCounter ../../counter 0}}</td>
            <td class="alttitle"><a href="{{value.filename}}">{{value.data.title}}</a></td>
            <td>{{#if value.data.date}}{{formatDate value.data.date "%Y-%m-%d"}}{{else}}-{{/if}}</td>
            <td>{{randomNumber 500 1000}}</td>
          </tr>
          {{/eachPropertyReverse}}
        </tbody>
      </table>
    </div>
  </div>
  <div class="clear"></div>
  </div>
</div>
</div>
