---
permalink: "<%= config.product.types.map(function(i){ return '/product/' + (i ? i + '/' : ''); }).join('\\n') %>"
nav: product
type: <%= permalink.replace(/^\/product\/|\/$/g, '') %>
counter: [ 0 ]
---
<div class="main">
<div class="maincontainer png fixed_width pos_center">
  <div class="twocol">
  <div class="twocol_l">
{{>about}}
  </div>
  <div class="twocol_r">
    <div class="context png">
      {{>bread}}
      <div class="clear"></div>
      <div class="prods">
        {{#eachProperty product}}
        {{#contains value.data.type ../type}}
        <div class="prod">
          <a href="{{value.filename}}"><img src="{{value.data.image}}" width="130" height="100" /></a>
          <a href="{{value.filename}}">{{value.data.title}}</a><br />
          {{value.data.description}}
        </div>
        {{/contains}}
        {{/eachProperty}}
      </div>
    </div>
  </div>
  <div class="clear"></div>
  </div>
</div>
</div>
